*{
	box-sizing: border-box;
	vertical-align:center;
}

form{
	flex-direction: column;
    padding: 70px 100px;
	align-items: center;
	position:relative;
	top:50%;
    border:3px solid #4d79ff;
	width:650px;
	height:400px;
	display: flex;
}

#input{
	margin:10px 0px 10px 0px;
	width:200%;
	height:3em;
}


#value{
	text-align:center;
	display:inline-block;
	font-family: 'Open Sans', sans-serif;
	border:3px solid #0000FF;
	color: #FFFFFF;
	width:100px;
	height:40px;
	font-size:15px;
	font-weight:550;
	padding-top:8px;
	background-color:#068dba;
}

#gender{
    margin:auto;
	font-family: 'Open Sans', sans-serif;
	font-size:18px;
	font-weight:550;
}

input,select{
	margin-left:20px;
    width:20px;
	height:20px;
    font-size:13px;
	border:3px solid #4d79ff;
}

input[type='text']{
	width:350px;
	height:35px;
}

select{
	width:350px;
	height:35px;
}

button{
	margin-top:25px;
	width:150px;
	height:50px;
	padding:10px;
	align-self: center;
	font-family: 'Open Sans', sans-serif;
	font-size:20px;
	font-weight:700;
	color: #FFFFFF;
	border-radius:10px;
	background-color: #32CD32 ;
}
